useDynLib(RchyOptimyx)
export(RchyOptimyx)
export(summary)
export(plot)
export(merge)
importClassesFrom(methods, list, numeric, vector, matrix)
importClassesFrom(graph, graphNEL)
importMethodsFrom(graph, addEdge, adj, edgeData, nodeData,
                  "nodeData<-", "nodeDataDefaults<-", nodes, subGraph,
                  ugraph, "edgeNames")
importFrom(sfsmisc, digitsBase, as.intBase)
importFrom(graphics, abline, axis, par, title, close.screen, image, screen, split.screen)
importMethodsFrom(Rgraphviz,plot,renderGraph)
importFrom(Rgraphviz, layoutGraph)
importFrom(graph, nodeRenderInfo, "nodeRenderInfo<-", edgeRenderInfo, "edgeRenderInfo<-")
importFrom(methods, new)          
importFrom(grDevices, col2rgb, colorRampPalette)


